section.blog
  .flex.flex--space-around
    .col-1
      p.home-lead Other Attachments
    .col-1
      p.home-lead (View)

  .flex.flex--space-around
    .col-1
      a(href="assets/documents/Other/bp10.pdf").home-cta View

    .col-1.order-first
      p.home-lead BP10 Profile

  .flex.flex--space-around
    .col-1
      a(href="assets/documents/Other/card.pdf").home-cta View

    .col-1.order-first
      p.home-lead Commitment Card

  .flex.flex--space-around
    .col-1
      a(href="assets/documents/Other/Value.pdf").home-cta View

    .col-1.order-first
      p.home-lead Value Statements

  .flex.flex--space-around
    .col-1
      a(href="assets/documents/Other/SMART.pdf").home-cta View

    .col-1.order-first
      p.home-lead SMART Intentions

  .flex.flex--center.flex--space-around
    .col-1
      .cf
      a(href = "projectpage0.html").home-cta HADM 4125
