section.blog
  .flex.flex--space-around
    .col-1
      p.home-lead Essays/Memos
    .col-1
      p.home-lead (View)

  .flex.flex--space-around
    .col-1
      a(href="assets/documents/Memos/Footprint.pdf").home-cta View

    .col-1.order-first
      p.home-lead Footprint Essay

  .flex.flex--space-around
    .col-1
      a(href="assets/documents/Memos/FootprintMemo.pdf").home-cta View

    .col-1.order-first
      p.home-lead Footprint Memo

  .flex.flex--space-around
    .col-1
      a(href="assets/documents/Memos/Case.pdf").home-cta View

    .col-1.order-first
      p.home-lead Case Study

  .flex.flex--space-around
    .col-1
      a(href="assets/documents/Memos/CaseMemo.pdf").home-cta View

    .col-1.order-first
      p.home-lead Case Memo

  .flex.flex--space-around
    .col-1
      a(href="assets/documents/Memos/vlog1.pdf").home-cta View

    .col-1.order-first
      p.home-lead Vlog 1 Memo

  .flex.flex--space-around
    .col-1
      a(href="assets/documents/Memos/vlog2.pdf").home-cta View

    .col-1.order-first
      p.home-lead Vlog 2 Memo

  .flex.flex--space-around
    .col-1
      a(href="assets/documents/Memos/vlog3.pdf").home-cta View

    .col-1.order-first
      p.home-lead Vlog 3 Memo

  .flex.flex--space-around
    .col-1
      a(href="assets/documents/Memos/MAD.pdf").home-cta View

    .col-1.order-first
      p.home-lead MaD Memo

  .flex.flex--space-around
    .col-1
      a(href="assets/documents/Memos/SMART.pdf").home-cta View

    .col-1.order-first
      p.home-lead SMART Memo

  .flex.flex--center.flex--space-around
    .col-1
      .cf
      a(href = "projectpage0.html").home-cta HADM 4125
