section.blog
  .flex.flex--space-around
    .col-1
      p.home-lead Anabel's Grocery
    .col-1
      p.home-lead (View)

  .flex.flex--space-around
    .col-1
      a(href="https://www.flipsnack.com/mgt42/anabel-s-grocery-recipes.html").home-cta View

    .col-1.order-first
      p.home-lead Creation

  .flex.flex--space-around
    .col-1
      a(href="assets/documents/Anabels/BigIdea.pdf").home-cta View

    .col-1.order-first
      p.home-lead Big Idea Sketchpad

  .flex.flex--space-around
    .col-1
      a(href="assets/documents/Anabels/Iteration.pdf").home-cta View

    .col-1.order-first
      p.home-lead Iteration Process

  .flex.flex--space-around
    .col-1
      a(href="assets/documents/Anabels/Reflection.pdf").home-cta View

    .col-1.order-first
      p.home-lead Volunteering Reflection

  .flex.flex--space-around
    .col-1
      a(href="assets/documents/Anabels/Memo.pdf").home-cta View

    .col-1.order-first
      p.home-lead Anabel's Team Memo

  .flex.flex--space-around
    .col-1
      a(href="https://youtu.be/sMWFL5WWIHs").home-cta View

    .col-1.order-first
      p.home-lead Anabel's Vlog


  .flex.flex--center.flex--space-around
    .col-1
      .cf
      a(href = "projectpage0.html").home-cta HADM 4125
