mixin boxes()
  a(href = "").box-img
    img(src="assets/images/ccc.png")

section.box
  .flex.flex--center
    .col-3.flex.flex--center.left
      .col-1
        p.home-lead HADM 4125
        a(href = "hadm-vlog.html").box-img
          img(src="assets/images/vlog.jpg")
        a(href = "hadm-written.html").box-img
          img(src="assets/images/essay.png")
        a(href = "hadm-anabel.html").box-img
          img(src="assets/images/anabel.png")
        a(href = "hadm-attachments.html").box-img
          img(src="assets/images/attachments.png")
