mixin nav-content()
  ul
    li: a(href="index.html") About
    //-li: a(href="#about") Blog
    li: a(href="../assets/documents/other/resumeFa17.pdf", target="_blank") Resume
    li: a(href="projectpage.html") Work
    li: a(href="contact.html") Contact

.mobile-nav
  +nav-content()

header
  .header-position
    a(href="index.html").logo Matthew Teng
    //-h1.logo Matthew Teng

    nav.site-nav
      +nav-content()

    a(href = "").social
    //- a(href = "").social Social Media

    .mobile-nav-toggle: span
