section.intro
      h2 Hello, World!

      //-ul
        //-li: p Matthews-Website:~ matthewteng$ cd AboutMe
        //-li: p Matthews-Website:AboutMe matthewteng$ ./script.sh

      ul
        li: p > Matt.origin
        li: p => "Danville, CA"
        li: p > Matt.education
        li: p => "#[a(href="https://www.cornell.edu/") Cornell University]"
        li: p > Matt.major
        li: p => "Computer Science"
        li: p > Matt.graduation
        li: p => "May 2018"
        li: p > Matt.passions
        li: p => ["code", "soccer", "music", "food", "gaming", "origami"]

      //-I am currently a junior at #[a(href="https://www.cornell.edu/") Cornell University] studying Computer Science, and expect to graduate in May 2018.
