section.intro
  h3 Brief Overview
  //-i.fa.fa-camera-retro.fa-5x

  p I am currently a junior at #[a(href="") Cornell University] studying Computer Science, and expect to graduate in May 2018!

  p Hello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello World
      Hello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello World
