mixin thumbs
  a(href="" style = "background-image: url(../assets/images/cornell.jpg)").thumbnail
    .thumbnail-meta
      .name Project Name
      .description Project Description

section.portfolio
  .flex.flex--center
    .col-3
      .thumbnail-wrap
        a(href="unimplemented.html" style = "background-image: url(../assets/images/rpi.jpg)").thumbnail
          .thumbnail-meta
            .name Raspberry Pi
            .description Spotify/Smart Clock/etc.
        a(href="unimplemented.html"
          style = "background-image: url(../assets/images/MIRAJ.png)", target = "_blank").thumbnail
          .thumbnail-meta
            .name MIRAJ
            .description A real-time heatmap of Cornell's campus to find the best study, eat, and workout spots at any given time
        a(href="https://github.com/mteng513/Personal-Website"
          style = "background-image: url(../assets/images/website.png)", target="_blank").thumbnail
          .thumbnail-meta
            .name My Website
            .description See how I coded this website!
        a(href="https://github.com/mcgingras/recycledog"
        style = "background-image: url(../assets/images/recycledog.png)", target = "_blank").thumbnail
          .thumbnail-meta
            .name RecycleDog
            .description Big Red Hacks 2016
        a(href="https://github.com/mteng513/CCC"
          style = "background-image: url(../assets/images/ccc.png)", target = "_blank").thumbnail
          .thumbnail-meta
            .name CCC
            .description Cornell Consulting Club's redesigned website
        a(href="unimplemented.html"
          style = "background-image: url(../assets/images/ios.jpg)", target = "_blank").thumbnail
          .thumbnail-meta
            .name iOS
            .description Flappy bird/Uber recreated

    .col-3.flex.flex--center
      .col-1
        .description-wrap
          p.home-lead Recently Featured Projects
          a(href="projectpage1.html").home-cta More Projects
