section.contact
  div
    hr
    a(href="https://github.com/mteng513") #[i.fa.fa-github-square.fa-inverse.fa-3x]
    a(href="https://www.facebook.com/mteng96") #[i.fa.fa-facebook-square.fa-inverse.fa-3x]
    a(href="https://www.linkedin.com/in/matthew-teng-9b4b6578?trk=nav_responsive_tab_profile_pic") #[i.fa.fa-linkedin-square.fa-inverse.fa-3x]
    a(href="mailto:mgt42@cornell.edu") #[i.fa.fa-envelope-square.fa-inverse.fa-3x]
