mixin boxes()
  a(href = "").box-img
    img(src="assets/images/ccc.png")

section.box
  .flex.flex--center
    .col-3.flex.flex--center.left
      .col-1
        p.home-lead Projects
        a(href = "https://github.com/mteng513/mteng513.github.io").box-img
          img(src="assets/images/logo.jpg")
        a(href = "https://github.com/mteng513/recycledog").box-img
          img(src="assets/images/recycledog_square.png")
        a(href = "https://github.com/mteng513/CCC").box-img
          img(src="assets/images/cccl.jpg")
        a(href = "https://github.com/mteng513/Cornell-Hold-Em").box-img
            img(src="assets/images/chip.jpg")
        a(href = "unimplemented.html").box-img
          img(src="assets/images/ios.jpg")
        a(href = "unimplemented.html").box-img
          img(src="assets/images/pi.png")

        .cf
        a(href = "https://github.com/mteng513").home-cta See More
