section.blog
  .flex.flex--space-around
    .col-1
      .image-strip

    .col-1.order-first
      p.home-lead Interests and Hobbies Interests and Hobbies Interests and Hobbies
      a(href="https://www.facebook.com/mteng96").home-cta Learn More
