mixin thumbs
  a(href="" style = "background-image: url(../assets/images/cornell.jpg)").thumbnail
    .thumbnail-meta
      .name Project Name
      .description Project Description

section.portfolio
  .flex.flex--center

    .col-3.flex.flex--center
      .col-1
        .description-wrap
          p.home-lead Cornell University Course Work
          a(href="unimplemented.html").home-cta See More

    .col-3
      .thumbnail-wrap
        a(href="unimplemented.html" style = "background-image: url(../assets/images/d3.png)").thumbnail
          .thumbnail-meta
            .name CS 3300
            .description Data-Driven Web Development
        a(href="unimplemented.html"
          style = "background-image: url(../assets/images/pokertable.png)", target = "_blank").thumbnail
          .thumbnail-meta
            .name CS 5412
            .description Cloud Computing
        a(href="projectpage0.html"
          style = "background-image: url(../assets/images/cornell.jpg)", target="_blank").thumbnail
          .thumbnail-meta
            .name HADM 4125
            .description The Foundations of Social Entrepreneurship
        a(href="unimplemented.html"
        style = "background-image: url(../assets/images/btry.png)", target = "_blank").thumbnail
          .thumbnail-meta
            .name BTRY 4840
            .description Computational Genetics
        a(href="unimplemented.html"
          style = "background-image: url(../assets/images/os.png)", target = "_blank").thumbnail
          .thumbnail-meta
            .name CS 4410
            .description Operating Systems
        a(href="unimplemented.html"
          style = "background-image: url(../assets/images/stockpattern2.png)", target = "_blank").thumbnail
          .thumbnail-meta
            .name CS 3110
            .description Data Structures and Functional Programming
