mixin boxes()
  a(href = "").box-img
    img(src="assets/images/ccc.png")

section.box
  .flex.flex--center
    .col-3.flex.flex--center.left
      .col-1
        p.home-lead Filler Text
        +boxes
        +boxes
        +boxes
        +boxes
        +boxes
        +boxes
        .cf
        a(href = "").home-cta See More

    .col-3.flex.flex--center.right
      .col-1
        p.home-lead Filler Text
        +boxes
        +boxes
        +boxes
        +boxes
        +boxes
        +boxes
        .cf
        a(href = "").home-cta See More
