section.about
  background:
    image:url(../images/about.jpg)
    position: center
    size: cover


  h2
    color: white
    font:
      size: 55px
      weight: 400
    margin-left: 1.2em
    margin-top: 5.4em
    margin-bottom: 0em
    line-height: 1
    text-shadow: 1px 1px #222

  .home-lead
    margin-left: 1.85em
    padding-bottom: 5.2em
    color: white
    text-shadow: 1px 1px #222

  height: 70vh
  display: flex
  flex-direction: column
  justify-content: left
  align-items: left
@media (max-width: 1080px)
  section.about
    background:
      image:url(../images/about.jpg)
    h2, .home-lead
      position: relative
      margin-left: auto
      margin-right: auto
      max-width: 200px
    justify-content: center

@media (max-width: 768px)
  section.about
    background:
      image:url(../images/about.jpg)
    h2, .home-lead
      position: relative
      margin-left: auto
      margin-right: auto
      max-width: 200px
      // justify-content: center
      // align-items: center
      // text-align: center
    h2
      margin-top: 2.4em


@media (max-width: 640px)
  section.about
    .safari-only
      padding-left: 7em
    h2, .home-lead
      position: relative
      top: 50%
      max-width: 300px
      justify-content: center
      align-items: center
      text-align: center


@media (max-width: 480px)
  section.about
    background:
      image:url(../images/aboutsmall.png)
    h2, .home-lead
      position: relative
      max-width: 300px
      justify-content: center
      align-items: center
      text-align: center

// @media (-webkit-min-device-pixel-ratio: 0)
//   section.about
//     // .safari-only
//     //     padding-left: 7em
//     h2, .home-lead
//       position: relative
//       top: 50%
//       max-width: 300px
//       justify-content: center
//       align-items: center
//       text-align: center
